body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-family: 'Courier New';
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: sandybrown;
}

form {
}

input[type="text"] {
  width: 300px;
  max-width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
  max-width: 100%;
}

ul > li {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #e5e5e5;
  width: 300px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  user-select: none;
}

ul > li > p {
  overflow: auto;
  white-space: nowrap;
  margin: 0;
  padding-left: 20px;
  text-overflow: ellipsis;
}

small {
  color: gray;
}

.completed {
  text-decoration: line-through;
}

.disable {
  pointer-events: none;
  opacity: 0.1;
}

.active {
  background-color: orangered;
  color: white;
}

button {
  margin-top: 10px;
  padding: 0.5rem;
  background-color: yellowgreen;
  border: 1px solid burlywood;
  font-size: 1rem;
  color: black;
  width: 300px;
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 650px;
  }
  ul {
    width: 650px;
  }
  ul > li {
    width: 650px;
  }
}
